@(userForm: Form[model.User])(implicit messages: Messages)

@import helper._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>


    <script>

    </script>
</head>
<body>

    <h3>New User</h3>

    @form(action = routes.ApplicationUser.insertUser) {
        @inputText(field = userForm("fullName"), '_label -> "", 'placeholder -> "User Full Name")
        @inputText(field = userForm("branch"), '_label -> "", '_id -> "branchTags", 'placeholder -> "Branch")

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create User</button>
        <a href="@routes.ApplicationUser.selectAllUsers" class="btn">Cancel</a>
    </div>
    }
</body>
</html>